/* Global Styles */
body {
    font-family: 'Press Start 2P', cursive;
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}

.page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

.page-background {
    position: relative;
}

.title img {
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
        background-color: #f0f0f0;
    }
    
    .image-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .heartbeat {
        height: auto;
        width: 500px; /* Adjust the size of the image */
        animation: heartbeat 1.5s ease-in-out infinite;
    }
    
    @keyframes heartbeat {
        0%, 100% {
            transform: scale(1);
        }
        14% {
            transform: scale(1.3);
        }
        28% {
            transform: scale(1);
        }
        42% {
            transform: scale(1.3);
        }
        70% {
            transform: scale(1);
        }
    }

    
}

.menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem; /* Espacio entre los botones */
    margin-top: 2rem;
}

.menu-button img {
    width: 250px; /* Tamaño de los botones */
    height: auto;
    border: 3px solid #fff; /* Opcional: agrega borde blanco */
    border-radius: 10px; /* Opcional: bordes redondeados */
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.menu-button img:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.5); /* Opcional: sombra al pasar el ratón */
}
